{% load static %}
<nav class="navbar shadow p-3 mb-4" style="background-color: rgb(63, 119, 63);">
  <div class="container-fluid">
    <a class="navbar-brand link-light" href="{% url 'shop' %}"><img src="{% static 'bilder/logo.png' %}" alt="TechMax Logo"></a>
    <ul class="navbar-nav">
      <div class="d-flex">
          <a class="nav-link p-2 link-light" href="#">Login</a>
          <a class="nav-link p-2 link-light" href="{% url 'warenkorb' %}">Warenkorb</a>
      </div>
    </ul>
  </div>
</nav>
